@use "sass:map";
@use "@/styles/_variables" as var;

.game {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;

  @media (orientation: landscape) {
    width: fit-content;
    height: 100%;
  }

  @media (orientation: portrait) {
    width: 100%;
    height: fit-content;
  }

  &__player {
    display: flex;
    column-gap: 10px;
  }

  &__player-name {
    font-size: map.get(var.$font-sizes, "base");
    font-weight: bold;
  }


}