@use "sass:map";
@use "../../styles/_variables" as var;
@use "../../styles/_mixins";

.input {
  width: 100%;
}

.input__label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.input__element {
  
  @include mixins.form-input;

}

.input__error {
  color: map.get(var.$error-color, "base");
}