@use "sass:map";
@use "../../styles/_variables" as var;

.input__label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.input__element {
  
  font-size: map.get(var.$font-sizes, "base");
  padding: 1rem;
  background-color: map.get(var.$surface-color, "base");
  color: map.get(var.$surface-color, "contrast");

  border: 2px solid map.get(var.$surface-color, "light");
  border-radius: 4px;

  width: 100%;

  &:focus {
    border-color: map.get(var.$primary-color, "base");
    border-width: 2.5px;
    outline: none;
  }

  &:disabled {
    background-color: map.get(var.$surface-color, "light");
    opacity: 0.5;
  }

  &--error {
    border-color: map.get(var.$error-color, "base");
  }

}

.input__error {
  color: map.get(var.$error-color, "base");
}