@use "sass:map";
@use "@/styles/_variables" as var;

$sidebar-collapsed-width: 100px;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: map.get(var.$surface-color, "base");
  color: map.get(var.$surface-color, "contrast");
  display: none;
  height: 100vh;
  z-index: 100;
  display: none;
  overflow: hidden;
  
  flex-direction: column;
  border-right: 0.5px solid map.get(var.$surface-color, "light");

  display: flex;
  
  width: 0px;
  transition: width 0.1s linear;

  @media (min-width: map.get(var.$breakpoints, "lg")) {
    width: $sidebar-collapsed-width;
    overflow: visible;
  }


  &--expanded {
    width: 100%;

    @media (min-width: map.get(var.$breakpoints, "lg")) {
      width: 25%;
    }
    
    @media (min-width: map.get(var.$breakpoints, "xxl")) {
      width: 20%;
    }
  }

  

  &__spinner {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
  }

  &__user-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 15px;
    margin-top: 40px;
    margin-bottom: 70px;

    &--collapsed {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__user-icon {
    font-size: map.get(var.$font-sizes, "xl");
  }

  &__username {
    font-weight: bold;
  }

  &__divider {
    width: 100%;
    opacity: 0.2;
    margin-bottom: 10px;
    opacity: 0.1;
  }

  &__links {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    padding: 0 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: map.get(var.$surface-color, "contrast");

    column-gap: 15px;

    overflow: hidden;

    &--active {
      background-color: map.get(var.$primary-color, "base");
      color: map.get(var.$primary-color, "contrast");
      border-radius: 10px;
    }

    &:hover:not(&--active) {
      cursor: pointer;
      background-color: map.get(var.$primary-color, "base");
      color: map.get(var.$primary-color, "contrast");
      border-radius: 10px;
    }

    &--collapsed {
      justify-content: center;
    }
  }

  &__link-icon {
    font-size: map.get(var.$font-sizes, "lg");
  }

  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }

  &__header-piece {
    width: 72px;
  }

  &__trigger {
    position: fixed;
    top: 20px;
    left: 20px;

    @media (min-width: map.get(var.$breakpoints, "lg")) {
      position: absolute;
      top: 60px;
      right: -15px !important;
      left: auto;
    }

    &--close {
      left: auto;
      right: 15px;
    }
    
  }
}

.sidebar-background {
  position: fixed;
  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.6;
  z-index: 90;
}

.sidebar-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  

  &__main-content {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-color: map.get(var.$surface-color, "dark");
    color: map.get(var.$surface-color, "contrast");

    @media (min-width: map.get(var.$breakpoints, "lg")) {
      margin-left: $sidebar-collapsed-width;
    }
  }

  &__spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}



