@use "sass:map";
@use "@/styles/_variables" as var;

.promotion-piece-selector {
  width: 100%;
  height: 100%;
  

  &__option_section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
  }

  &__option {
    background-color: map.get(var.$surface-color, "contrast");
    border: 5px solid map.get(var.$surface-color, "base");
    padding: 6px;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      background-color: map.get(var.$primary-color, "light");
    }

    &--selected {
      background-color: map.get(var.$primary-color, "light");
    }
  }

  &__submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}