@use "sass:map";
@use "@/styles/_variables" as var;

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;

  
  & > button {
    background-color: map.get(var.$primary-color, "base");
    color: map.get(var.$primary-color, "contrast");

    border: 1px solid map.get(var.$primary-color, "base");
    border-radius: 50%;
    aspect-ratio: 1/1;
    font-size: map.get(var.$font-sizes, "base");
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 2px;
    padding: 10px;

    &:hover {
      filter: brightness(80%);
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &--grey > button {
    background-color: grey;
    border-color: grey;
    color: white;
  }

  &__label {
    font-size: map.get(var.$font-sizes, "sm");
  }

  &__icon {
    aspect-ratio: 1/1;
  }
}