@use "sass:map";
@use "@/styles/_variables" as var;

@mixin set-color($color-map) {
  background-color: map.get($color-map, "base");
  border-color: map.get($color-map, "base");
  color: map.get($color-map, "contrast");
}


.alert {
  padding: 20px;
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: map.get(var.$font-sizes, "base");

  width: 100%;

  &--info {
    @include set-color(var.$primary-color);
  }

  &--success {
    @include set-color(var.$success-color);
  }

  &--error {
    @include set-color(var.$error-color);
  }

  &--warning {
    @include set-color(var.$warning-color);
  }

  &__icon {
    font-size: 2em;
  }
}