@use "sass:map";
@use "@/styles/_variables" as var;
@use "@/styles/_mixins";

.select {

  width: 100%;

  &__label {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }

  &__element-wrapper {
    position: relative;
    width: 100%;
  }
  
  &__element {
    @include mixins.form-input;

    appearance: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__arrow {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    pointer-events: none;
  }

  &__error {
    color: map.get(var.$error-color, "base");
  }
}