@use "sass:map";
@use "@/styles/_variables" as var;

.game-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;


  &__window {
    width: 90%;
    height: fit-content;
    z-index: 50;
    position: relative;
    @media (min-width: map.get(var.$breakpoints, "md")) {
      width: 60%;
    }

    @media (min-width: map.get(var.$breakpoints, "lg")) {
      width: 40%;
    }

    @media (min-width: map.get(var.$breakpoints, "xxl")) {
      width: 30%;
    }
  }

  &__icon {
    position: absolute;
    top: 20px;

    &--right {
      right: 20px;
    }

    &--left {
      left: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}